<div class="col-sm-6">
  <div class="panel-group" id="order_file">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <a data-toggle="collapse" data-parent="#order_file" href="#order_file_upload">Schritt 1 von 3: Daten hochladen</a>
        </h3>
      </div>
      <div id="order_file_upload" class="panel-collapse collapse in">
        <div class="panel-body">
          <div id="uploader" class="col-md-6" style="padding-left: 0px;"></div>
          <div class="popover right in col-md-5 hidden-xs hidden-sm">
            <div class="arrow" style=""></div>
            <h3 class="popover-title"><span class="label label-success">Tipp:</span> Mehrfachauswahl</h3>
            <div class="popover-content">Markieren Sie alle Dateien gleichzeitig in der Ordneransicht.</div>
          </div>
        </div>
      </div>
    </div>
    <% if @order.uploads.size > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-cloud-upload"></span>
            <a data-toggle="collapse" data-parent="#order_file" href="#order_file_list">Vorhandene Dateien</a>
          </h3>
        </div>
        <div id="order_file_list" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table" style="overflow: scroll; max-height: 300px;">
              <thead>
              <tr>
                <th>#</th>
                <th>Dateiname</th>
                <th>Format</th>
                <th>Größe</th>
              </tr>
              </thead>
              <tbody>
                <% @order.uploads.each_with_index do |upload, index| %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= upload.attachment_file_name %></td>
                    <td><%= upload.attachment_content_type %></td>
                    <td><%= number_to_human_size(upload.attachment_file_size) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#uploadDelete">Alle Dateien löschen?</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
